.container_header{
  font-size: 30px;
  padding: 10px;
}

.list_type_select{
  margin: 10px 0 10px 10px;
  display: flex;
  justify-content: space-evenly;
}

.container_title{
  margin: 10px 0 10px 10px;
  font-size: 25px;

}

.list_section{
  height: 85vh;
  box-sizing: border-box;
}

.list_section .list_container{
  height:70vh;
  margin-left: 10px;
  list-style: none;
  padding-left: 5px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; 
  overflow-y: auto;
  background-color: rgba(247, 247, 247, 0.527);
}

.list_section .list_container::-webkit-scrollbar{
  display: none;
} 

.list_item .photo{
  width: 100%;;
}