.mapCardContainer{
  background-color: white;
  width: 120px;
  padding: 1px;
}

.mapCardContainer p{
  font-size: small;
  margin: 0;
  padding: 0;
}
.mapCardContainer:hover{
  width: 150px;
  transition: width .2s;
}
.card:hover{
  z-index: 10;
}