.main .data_section{
  box-sizing: border-box;
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.google_map_section{
  height: 85vh;
}

.list_section{
  border: 1px solid brown;
  height: 95vh;
}